@using CleanMe.Application.ViewModels
@using CleanMe.Domain.Enums
@using CleanMe.Shared.Helpers

@model CleanMe.Application.ViewModels.ItemCodeRateViewModel

@{
    ViewData["Title"] = Model.itemCodeRateId == 0 ? "Add Item Code Rate" : "Edit Item Code Rate";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddEdit" method="post" id="ItemCodeRateForm" novalidate>
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <input asp-for="itemCodeRateId" type="hidden" />

    <div class="form-group">
        <label asp-for="clientId" class="form-label"></label>
        <select asp-for="clientId" class="form-control" asp-items="Model.Clients"></select>
        <span asp-validation-for="clientId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="itemCodeId" class="form-label"></label>
        <select asp-for="itemCodeId" class="form-control" asp-items="Model.ItemCodes"></select>
        <span asp-validation-for="itemCodeRateId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="cleanFrequencyId" class="form-label"></label>
        <select asp-for="cleanFrequencyId" class="form-control" asp-items="Model.CleanFrequencies"></select>
        <span asp-validation-for="cleanFrequencyId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" required />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rate" class="form-label"></label>
        <input asp-for="Rate" class="form-control" required />
        <span asp-validation-for="Rate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Is Default</label>
        <select asp-for="IsDefault" class="form-control">
            <option value="true">Default</option>
            <option value="false">Not default</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Is Active</label>
        <select asp-for="IsActive" class="form-control">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <script>
    </script>
}